name: Debug

on:
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install LaTeX packages
      run: |
            sudo apt-get update
            sudo apt-get install -y \
            texlive-latex-recommended \
            texlive-latex-extra \
            texlive-plain-generic \
            texlive-fonts-recommended \
            texlive-lang-japanese \
            poppler-utils
        
    - name: dbug
      run: |
        cd content/ongoing/
        pdflatex project-1.tex
        lwarpmk html
