name: Prebuild with pdflatex and lwarp

on:
  workflow_dispatch:
  push:
    paths:
      - 'content/**.tex'

jobs:
  build_tex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install TeX Live
        uses: xu-cheng/texlive-action@v3
        with:
         scheme: full
         run: |
          cd content
          cp main.tex ${{ runner.temp }}
          cd ${{ runner.temp }}
          pdflatex -interaction=nonstopmode main.tex
          lwarpmk html main.tex
          lwarpmk clean
