name: Prebuild with pdflatex and lwarp
on:
  workflow_dispatch:
  push:
    paths:
      - 'content/**.tex'

jobs:
  install_tex_tools:
    name: Install tex related tools
    runs-on: ubuntu-latest
    steps:
      - name: Install texlive 
        run: sudo apt-get install -y texlive-full