on:
  workflow_dispatch:
  push:
   paths:
    - 'content/**.tex'

jobs:
  print-tag:
  runs-on: ubuntu-latest
  if: ${{ inputs.print_tags }} 
  steps:
    - name: Print the input tag to STDOUT
      run: echo  The tags are ${{ inputs.tags }} 