name: Prebuild with pdflatex and lwarp
on:
  workflow_dispatch:
  push:
    paths:
      - 'content/**.tex'

jobs:
  build_tex:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: xu-cheng/texlive-action@v3
        with:
         scheme: full
         run: |
          cd content
          pdflatex -interaction=nonstopmode output
          lwarpmk html main.tex
          lwarpmk clean