name: Prebuild with pdflatex and lwarp
on:
  workflow_dispatch:
  push:
    paths:
      - 'content/**.tex'

jobs:
  build_tex:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: xu-cheng/texlive-action@v3
        with:
         scheme: full
         run: |
          cd content
          cp main.tex ${{ runner.temp }}
          cd ${{ runner.temp }}
          pdflatex -interaction=nonstopmode main.tex
          lwarpmk html main.tex
          lwarpmk clean